extends layout

block inner-script
	script(type="text/javascript")
		$(document).ready(function(){
			$('.target .popup .close').bind('click', function(){
				$(this).parents('.target').attr('status', 'collapsed');
			});
			$('.target .adv_setting').bind('click', function(){
				var parent = $(this).parents('.target');
				parent.attr('status', 'expended');
			});
			$('#newTaskForm').bind('submit', function(){
				return isDigitValue( $('#step1_value') ) && notEmpty( $('#target_name') );
			});
			$('input[name="progress_date"]').datepicker();
			$('.target .popup .submit').click(function(){
				var target = $(this);
				submitNewProgressCallback('#{user}', target, target.praents('.target'));
				return false;
			});
			validateProgressForm();
		});
		
block content
	p Welcome #{userName}
	div.top-menu(data-inline=true)
		form(action='/#{user}/target/add', method='POST', id='newTaskForm')
			div.row-menu
				div
					fieldset
						legend New goal!
						label Target:
						input(type='text', id='target_name', name='target_name')
						label Mission1's goal:
						input(type='text', id='step1_value', name='step1_value')
						label description:
						input(type='text', id='target_description', name='target_description')
			div
				div
					input.btn(type='submit', value='Add')

	p Targets
	div.container(data-inline=true)
		- if(targets){
		for target in targets
			div.target(status='collapsed')
				include milestone_progress
					block expanding
						div.span2
							b.adv_setting +
				div.popup
					include progress_popup
						block bottom
							span.btn.close Close
		-}
