extends layout

block inner-script
	script(type="text/javascript")
		$(document).ready(function(){
			$('.target .popup .close').bind('click', function(){
				$(this).parentsUntil('.target').attr('status', 'collapsed');
			});
			$('.target .adv_setting').bind('click', function(){
				var parent = $(this).parents('.target');
				console.log(parent);
				parent.attr('status', 'expended');
			});
		});
		
block content
	p Welcome #{userName}
	div(data-inline=true)
		form(action='#{user}/target/add', method='POST')
			div(data-role='fieldcontain')
				fieldset(data-role='controlgroup')
					label Target:
						input(type='text', id='target_name', name='target_name')
			div(data-role='fieldcontain')
				fieldset(data-role='controlgroup')
					label description:
						input(type='text', id='target_description', name='target_description')
			div(data-role='fieldcontain')
				fieldset(data-role='controlgroup')
					label Mission1's goal:
						input(type='text', id='step1_value', name='step1_value')
			div(data-role='fieldcontain)
				fieldset(data-role='controlgroup')
					label +:
						input(type='submit', value='Go!')

	p Targets
	div.container(data-inline=true)
		- if(targets){
		for target in targets
			div.target(status='collapsed')
				div.row-fluid
					div.span4(title='#{target.description} by #{target.user}') #{target.name}
					div.span6.progress-bar.blue
						span(style='width: 40%')
					div.span2
						b.adv_setting +
				div.popup
					form(action='#{user}/milesotn/add', method='POST')
						div(data-role='fieldcontain')
							fieldset(data-role='controlgroup')
								label Value:
									input(type='text', name='progress_value')
								label Date:
									input(type='text', name='progress_date')
							fieldset(data-role='controlgroup')
								input(type='submit', value='Add')
					a.close
		-}